:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Asegura que el componente tome todo el espacio disponible */
}

.p-card {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  padding: 2%;
  background-image: linear-gradient(#244063, rgb(255, 255, 255));

  &--title {
    margin-top: 30%;
    text-align: center;
    color: white;
  }
}

.p-label {
  margin-top: 5%;
  font-size: bold;
}

.p-button {
  display: flex;
  margin-top: 5%;
  align-items: flex-end;
  justify-content: space-between;
  right: 0;

  &--formBtn {
    width: 40%;
    background-color: #0b21ef;
    color: white;
    border-radius: 50px;
  }
}

.p-container-form {
  margin: 10% auto;
  width: 75%;
}

.register{
  text-decoration: none;
  cursor: pointer;
  color: #071ffa;
}

.see-password {
  position: relative;
  right: 0;
  left: 92%;
  bottom: 30px;
}