.p-container {
    display: flex;
    height: 100%;
    width: 100%;
    &--login{
        width: 50%;
    }

}

.p-image-init {
    background: url('../../assets/carpetaCiudadana.png') no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}